<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-icon
        name="chevron-back"
        [routerLink]="['/homepage']"
        routerLinkActive="router-link-active"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>

  <br />
  <img width="85px" height="130px" src="{{libro.imagen}}" />

  <h1>{{libro.titulo}}</h1>
  <h2>{{libro.autor}}</h2>
  <div id="estrellas">
    <ion-icon name="star" *ngFor="let estrella of estrellas"></ion-icon>
  </div>
  <div id="info">
    <p id="rating">({{libro.rating}})</p>
    <p id="pags">Páginas: {{libro.paginas}}</p>
    <p id="publicacion">Publicación: {{formattedDate}}</p>
    <p id="isbn">ISBN: {{libro.isbn}}</p>
    <ion-button
      id="agg"
      (click)="agregarMisLibros()"
      [disabled]="value"
      [ngStyle]="buttonStyles"
    >
      {{textoBoton}}
    </ion-button>
  </div>

  <p id="descripcion">{{libro.descripcion}}</p>
  <form [formGroup]="form" (submit)="enviarData()">
    <ion-card id="review">
      <ion-textarea
        formControlName="textAreaComentario"
        placeholder="Escribe tu review"
      ></ion-textarea>
    </ion-card>

    <ion-button id="publicar">Publicar</ion-button>
    <h3>Otras reviews</h3>
    <div *ngFor="let comentario of Comentarios">
      <p>{{comentario.usuario}}</p>
      <p>{{comentario.comentario}}</p>
    </div>
  </form>
</ion-content>
