<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> BOOKLY </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  h1 {
    size: 50px;
    color: pink;
  }
</style>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container
    name="Libro"
    style="background-color: #f8fbff"
  ></app-explore-container>
  <ion-icon name="chevron-back"></ion-icon>

  <ion-icon name="library"> </ion-icon>
  <br />
  <img
    width="85px"
    height="130px"
    src="https://www.tematika.com/media/catalog/Ilhsa/Imagenes/687803.jpg"
  />
  <h1>Una Corte de Rosas y Espinas</h1>
  <h2>Sarah J Mass</h2>

  <ion-icon name="star" style="color: #afccff"></ion-icon>
  <ion-icon name="star" style="color: #afccff"></ion-icon>
  <ion-icon name="star" style="color: #afccff"></ion-icon>
  <ion-icon name="star" style="color: #afccff"></ion-icon>
  <ion-icon name="star-half" style="color: #afccff"></ion-icon>
  <p>(4.7)</p>
  <p>Páginas:456</p>
  <p>Publicación: 01/05/2015</p>
  <p>ISBN: 9780590353403</p>
  <p>
    Feyre está desesperada, su vida y la de su familia dependen de ella.
    Enfrentada al hambre más absoluto, no dudará en ir al bosque prohibido y
    matar si es necesario. Pero su osadía la convierte en prisionera del
    misterioso Tamlin, quien a pesar de su aparente frialdad la hará descubrir
    una ardiente pasión que marcará su destino. Lejos de su familia y su mundo,
    Feyre tendrá que tomar una decisión capital para salvar todo lo que ama.
  </p>
  <h3>Write a review</h3>
  <div style="width: 500px; height: 100px; border: 1px solid#FFFFFF">
    My review
  </div>
  <button style="background-color: #3880ff">Post</button>
</ion-content>
