ion-icon {
  color: #488bff;
  font-size: 100px;
  margin-top: 160px;
}

ion-content {
  text-align: center;
  margin: 10px;
  flex: auto;
  vertical-align: middle;
}

ion-label {
  margin-top: 50px;
}

ion-button {
  margin: 20px;
  margin-top: 50px;
}
