<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> BOOKLY </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  h1 {
    size: 50px;
    color: #afccff;
  }
</style>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header>

  <h1><ion-icon name="library"> </ion-icon></h1>

  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button [routerLink]="['/homepage']" routerLinkActive="router-link-active"
    >Log In</ion-button
  >
  <ion-button [routerLink]="['/signup']" routerLinkActive="router-link-active">
    Sign Up
  </ion-button>
</ion-content>
