<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> BOOKLY </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  h1 {
    size: 50px;
    color: #afccff;
  }
</style>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3page"></app-explore-container>
  <ion-icon name="chevron-back"></ion-icon>

  <ion-icon name="library"> </ion-icon>
  <br />
  <img
    width="85px"
    height="130px"
    src="https://www.tematika.com/media/catalog/Ilhsa/Imagenes/687803.jpg"
  />
  <h1>Una Corte de Rosas y Espinas</h1>
  <h2>Sarah J Mass</h2>
</ion-content>
