<ion-header>
  <ion-toolbar>
    <ion-icon
      name="chevron-back"
      [routerLink]="['/homepage']"
      routerLinkActive="router-link-active"
      id="flechaAtras"
    ></ion-icon>
    <h3>Configuración</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Cuenta</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Perfil</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Privacidad</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Notificaciones</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label
        [routerLink]="['']"
        routerLinkActive="router-link-active"
        id="cerrarSesion"
        >Cerrar sesión</ion-label
      >
    </ion-item>
  </ion-list>
</ion-content>
