<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon
        name="chevron-back"
        [routerLink]="['/homepage']"
        routerLinkActive="router-link-active"
      ></ion-icon>
      <ion-icon
        name="settings-outline"
        [routerLink]="['/settings']"
        routerLinkActive="router-link-active"
      ></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-icon id="fotoperfil" name="person-circle-outline"></ion-icon>
    <p>
      @nombredeususario <br />
      Nombre Completo
    </p>
  </div>

  <h3>Mis Libros</h3>
   <div>
    <img
      *ngFor="let libro of librosMisLibros"
      src="{{libro.imagen}}"
      alt="{{libro.titulo}}"
    />
  </div>
</ion-content>
