<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back"></ion-icon>
    <ion-icon name="library"> </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Libro, Autor o ISBN"></ion-searchbar>
  <h2>Mis Libros</h2>
  <div>
    <img
      src="https://www.tematika.com/media/catalog/Ilhsa/Imagenes/687803.jpg"
      [routerLink]="['/libro/1']"
      routerLinkActive="router-link-active"
    />
    <img src="https://m.media-amazon.com/images/I/41ZlIu3dqCL._AC_SY780_.jpg" />
    <img
      src="https://http2.mlstatic.com/D_NQ_NP_777944-MLA42065333968_062020-O.jpg"
    />
    <img
      src="https://http2.mlstatic.com/D_NQ_NP_688424-MLA50334554666_062022-O.jpg"
    />
    <img
      src="https://upload.wikimedia.org/wikipedia/en/f/f4/Divergent_%28book%29_by_Veronica_Roth_US_Hardcover_2011.jpg"
    />
    <img
      src="https://www.tematika.com/media/catalog/Ilhsa/Imagenes/695034.jpg"
    />
  </div>
  <h2>Fantasía</h2>
  <div>
    <img
      src="https://www.tematika.com/media/catalog/Ilhsa/Imagenes/687803.jpg"
    />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
  </div>

  <h2>Romance</h2>
  <div>
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
  </div>

  <h2>Distopías</h2>
  <div>
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
  </div>
  <h2>Niños</h2>
  <div>
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
  </div>

  <h2>Autoayuda</h2>
  <div>
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
  </div>
  <h2>Clasicos</h2>
  <div>
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
    <img src="" />
  </div>
</ion-content>
