ion-content {
  display: flex;
  background-color: #C5DCFF;
}

img {
  width: 85px;
  height: 130px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 8px 8px 8px 8px;
}

img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

ion-icon {
  color: #488bff;
  font-size: x-large;
  margin: 15px;
}

ion-icon:hover {
  color: #488bff;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#settings{
  margin-left:260px ;
}
h2 {
  font-size: 20px;
  margin-left: 10px;
}
div {
  display: flex;
  left: 5px;
  top: 332px;
  overflow-x: scroll;
  overflow-y: hidden;
}
