<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> BOOKLY </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  h1 {
    size: 50px;
    color: #afccff;
  }
</style>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar> </ion-toolbar>
  </ion-header>

  <h1><ion-icon name="library"> </ion-icon></h1>

  <ion-item>
    <ion-label position="floating"
      >Usuario <ion-input type="text" #usuarioInput></ion-input>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating"
      >Email <ion-input type="text" #emailInput></ion-input>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating"
      >Contraseña <ion-input type="text" #contrasenaInput></ion-input>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Repetir Contraseña</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Acepto los términos y condiciones</ion-label>
  </ion-item>
  <ion-button [routerLink]="['/homepage']" routerLinkActive="router-link-active"
    >Sign Up</ion-button
  >
</ion-content>
