ion-icon {
  color: #488bff;
  font-size: 100px;
  margin-top: 115px;
}
ion-content {
  text-align: center;
}
h1 {
  size: 50px;
  color: #afccff;
}

#library {
  position: absolute;
  left: 180px;
  top: 400px;
}

ion-button {
  margin-top: 20px;
}
